@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');   
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* .hero_section{
    position: absolute;
width: 3840px;
height: 2160px;
left: -1518px;
top: -514px;
    background: url(../Mflux/assets/bg.jpg);
} */
#landing{
    background-image: url("../Mflux/assets/bg.jpg");
}
.div1{
}
#services .div1 img{

width: 530px;
height: 145px;
left: 72px;
top: 29px;
margin-bottom: 50px;
/* font-weight: 900;
font-size: 107.325px;
line-height: 145px;
background-image: url("https://s3-alpha-sig.figma.com/img/f7c1/33fe/b2ac1f47da134d3247e1e4a045d8e70e?Expires=1675036800&Signature=SdF1WciPDUGj6Tqci-GouqTXAjJ0VyJ3BneTUl3L7DOctBNNG0l1Sdcz9jRsw2bptUpI0CaBqno1yyqPOIbN7sNt7khUDARtEJy-JJ25mkliAj~d7kisrEbL5jL5~6XZ0TnW74x2Bkav7iAqUnM21joF0QVWuYGBROYgx8ypmAuyzUMqHLA7984LYkuwT2qZANgSYZKc5iYt~ehvM-v7c-hGK4QahDrCUlkCC~56ELeH8mZGS4JPLzpuKzhJp8SA1oe-9SpKaE6TxCBAOcjIDATRxBOYu9xDPt~7RWU16RJ-uwYoBtkIa-WtP8MJwpHI0NTAPjmPlXwvMSfVsdVA-w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
text-align: center;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
opacity: 0.5;
background-size: cover;
background-repeat: no-repeat;
transform: translateX(-17px); */
}
h4{
    font-size: 34px;
    color:#8c8c8c;
}
#contact{
    position: relative;
}
.div2{
background-image: url("./assets/bg.png");
width: 3840px;
height: 1012px;
left: -1160px;
top: 427px;

}

.form{
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-5%);
}
#landing div div img{
    height: 41.60px;
    width: 48px;

}
#services div img{
    height: 100%;
    width: 100%;
}
.img1{
    height: 125px;
    width: 530px;
}
.img2{

}